body {
  text-align: center;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* main nav */
.navbar{
  /* background-color: #2f2f2f; */
  font-size: 150%;
  height:75px;
}

.navbar-toggler{
  margin-right:20px;
  color:white;
  width:50px;
  height:50px;
}

.collapse{
    border-radius: 0 0 10px 10px;
}


/* nav2 */

#nav2 {
  border-bottom: 2px solid #DCDCDC;
  text-align: center;
  font-size: 200%;
  width: 100%;
  height: 45px;
  background: white;
  color: #A9A9A9;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

/* scroll progr bar */

#_progress {
  --scroll: 0%;
  background: linear-gradient(
    to right,
    #808080 var(--scroll),
    transparent 0
  );
  position: fixed;
  width: 100%;
  height: 5px;
  top: 45px;
  z-index: 100;
}
